:root {
  --color-1: #f4eeff;
  --color-2: #dcd6f7;
  --color-3: #a6b1e1;
  --color-4: #424874;
  --color-error: #e74c3c;
}

* {
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  * {
    font-size: 8px;
  }
}

@media (min-width: 1200px) {
  * {
    font-size: 10px;
  }
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  width: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-3);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  border-radius: 50%;
}

input[type="range"]::-ms-thumb {
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background: transparent;
  border-radius: 50%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-1);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login and Register */

.container {
  width: 30rem;
  background-color: #ffffff;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

.auth-logo img {
  width: 5rem;
  height: 5rem;
}

form {
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color-4);
}

.input-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--color-3);
  font-weight: 500;
}

input {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid var(--color-3);
  border-radius: 0.625rem;
  font-weight: 500;
  font-size: 1.5rem;
}

input[type="file"]::file-selector-button {
  max-width: 15rem;
  font-size: 1.1rem;
  background-color: var(--color-3);
  color: #ffffff;
  font-weight: 600;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 100ms ease-out;
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--color-4);
}

input:invalid,
textarea:invalid {
  border-color: var(--color-error);
}

span.error-message {
  display: block;
  color: var(--color-error);
  font-size: 0.9rem;
  margin-top: 0.3rem;
  font-weight: 300;
}

.Auth button {
  user-select: none;
  width: 10rem;
  background-color: var(--color-3);
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 100ms ease-out;
  font-weight: 600;
}

.Auth button:hover {
  background-color: var(--color-4);
}

p {
  margin-top: 20px;
  color: var(--color-3);
  font-weight: 500;
}

a {
  user-select: none;
  color: var(--color-4);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

/* Login and Register */

/* Navigation bar */

.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.logo img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.logo h1 {
  font-size: 3rem;
  color: var(--color-4);
}

.logo:hover {
  text-decoration: none;
}

.actions {
  background-color: var(--color-4);
  padding: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  user-select: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.625rem;
}

.username {
  color: #ffffff;
  margin-right: 1rem;
  font-weight: 600;
}

.menu-container {
  user-select: none;
  position: relative;
}

.menu-icon {
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
}

.dropdown-menu {
  min-width: 10rem;
  transform: scale(0);
  position: absolute;
  top: 4.1rem;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  z-index: 1;
  transition: all 100ms ease-out;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 0.625rem;
  border-bottom: 1px solid var(--color-2);
  transition: background-color 100ms ease-out;
}

.dropdown-menu li:hover {
  background-color: var(--color-2);
}

.dropdown-menu a {
  display: block;
}

.dropdown-menu a:hover,
.login:hover {
  text-decoration: none;
}

.logout {
  width: 100%;
  text-align: left;
  cursor: pointer;
  border: none;
  color: var(--color-4);
  text-decoration: none;
  background: none;
  font-weight: 600;
}

.login {
  user-select: none;
  width: 6rem;
  background-color: var(--color-3);
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 100ms ease-out;
  font-weight: 600;
  text-align: center;
}

.show {
  transform: scale(1);
}
/* Navigation bar */

/* Footer */

.footer {
  background-color: var(--color-4);
  color: #ffffff;
  text-align: center;
  padding: 2rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.useful-links {
  text-align: center;
  margin: 0 auto;
}
.useful-links ul {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.useful-links h4 {
  margin-bottom: 0.625rem;
}

.useful-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.useful-links li {
  margin-bottom: 0.5rem;
}

.useful-links a {
  color: #ffffff;
}

.copyright-section {
  margin-top: 2rem;
}

/* Footer */

/* Profile */

.profile-container {
  max-width: 75rem;
  width: 80%;
  margin: 50px auto;
  text-align: center;
  position: relative;
  background-color: #ffffff;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  padding-top: 10rem;
}

.profile-info {
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.avatar {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -5rem;
  left: calc(50% - 7.5rem);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.username-wrapper {
  margin-bottom: auto;
}

.profile-username {
  color: var(--color-4);
}

.profile-subtitle {
  color: var(--color-4);
}

.change-avatar-btn {
  align-self: center;
  max-width: 15rem;
  font-size: 1.1rem;
  background-color: var(--color-3);
  color: #ffffff;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 100ms ease-out;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-item {
  width: 15rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-4);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card-item img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.change-avatar-btn:hover {
  background-color: var(--color-4);
}
/* Profile */

/* Creare post*/

.CreatePost .container,
.EditPost .container {
  width: 50rem;
}

.CreatePost textarea,
.EditPost textarea {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid var(--color-3);
  border-radius: 0.625rem;
  font-weight: 500;
  font-size: 1.5rem;
  resize: none;
  overflow-y: scroll;
}

.CreatePost .media,
.EditPost .media {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 1rem;
}

.CreatePost button,
.EditPost button {
  align-self: center;
  max-width: 15rem;
  font-size: 1.1rem;
  background-color: var(--color-3);
  color: #ffffff;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 100ms ease-out;
}

.CreatePost button:hover,
.EditPost button:hover {
  background-color: var(--color-4);
}

.edit-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.edit-buttons button {
  width: 8rem;
}

/* Creare post*/

/* Dashboard*/

.Dashboard,
.MyPosts,
.Post {
  width: 50%;
  padding: 10rem 0;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.Dashboard::-webkit-scrollbar-thumb,
.MyPosts::-webkit-scrollbar-thumb,
.Post::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.Dashboard .container,
.MyPosts .container,
.Post .container {
  width: 75rem;
  /* height: 70rem; */
}

.container-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.container-header img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: auto;
}

.header-info h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-4);
}

.header-info span {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-3);
}

.modify {
  display: flex;
  gap: 1rem;
}

.modify button {
  width: 6rem;
  font-size: 1.1rem;
  background-color: var(--color-3);
  color: #ffffff;
  font-weight: 600;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 100ms ease-out;
}

.modify button:hover {
  background-color: var(--color-4);
}

.modify .delete {
  background-color: #ed6859;
}

.modify .delete:hover {
  background-color: #c72716;
}

.container-body {
  display: flex;
  flex-direction: column;
}

.cover {
  cursor: pointer;
  height: 50rem;
  border-radius: 0.4rem;
  overflow: hidden;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.audio-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.audio-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.audio-title {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--color-4);
}
.audio-subtitle {
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--color-3);
}

.play-btn,
.load-more {
  align-self: center;
  max-width: 15rem;
  font-size: 1.1rem;
  background-color: var(--color-3);
  color: #ffffff;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 100ms ease-out;
}

.play-btn:hover,
.load-more:hover {
  background-color: var(--color-4);
}

.action-bar {
  padding: 0.5rem 0;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.action-bar img {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.action-bar span {
  font-size: 1.1rem;
  font-weight: 500;
}

.unlike {
}

.like {
  animation: like 300ms linear;
}

@keyframes like {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.description {
  width: 100%;
  align-self: flex-start;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--color-4);
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
  text-align: justify;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description.show-more {
  overflow: auto;
  white-space: unset;
  text-overflow: unset;
}

.player {
  width: 30rem;
  height: 50rem;
  position: fixed;
  right: 2rem;
  bottom: 10rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
  transition: 400ms transform ease-in-out;
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.player.hidden {
  transform: translateX(150%);
}

.track-cover {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 3rem;
}

.track-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spin {
  animation: spin 15s linear infinite;
}

.not-spin {
  animation: spin 15s linear infinite paused;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.track-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.track-name {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-4);
}

.track-creator {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-3);
}

.song-controls {
  width: 80%;
}

.time-control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.time-control input {
  width: 100%;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.time-control p {
  width: 4rem;
  padding-bottom: 1rem;
  text-align: center;
}

.track {
  width: 70%;
  height: 1.5rem;
  background-color: var(--color-2);
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.animate-track {
  width: 0%;
  height: 100%;
  background-color: var(--color-3);
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.buttons button {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.buttons img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.close-player {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-player img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* Dashboard*/

/* Single Post*/

.comments {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-input {
  display: flex;
  width: 100%;
}

.comment-input button {
  align-self: center;
  max-width: 15rem;
  font-size: 1.5rem;
  background-color: var(--color-3);
  color: #ffffff;
  font-weight: 600;
  padding: 1.2rem 1.5rem;
  border: none;
  border-radius: 0 0.625rem 0.625rem 0;
  cursor: pointer;
  transition: background-color 100ms ease-out;
}

.comment-input input {
  border-radius: 0.625rem 0 0 0.625rem;
}

.comments-content {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.comments-content .comment {
  display: flex;
  padding: 2rem;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-3);
}

.user-img {
  margin-right: 1rem;
}

.comment .user-img img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.comment .comment-body {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.comment .author {
  display: flex;
  gap: 1rem;
}

.comment .author-email {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-4);
}

.comment .created-at {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-3);
}

.comment .content {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-4);
  text-align: justify;
}

/* Single Post*/
